<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <servlet>
    <servlet-name>search</servlet-name>
    <servlet-class>org.lumongo.somongo.server.SearchServiceImpl</servlet-class>
  </servlet>
      
  <servlet-mapping>
    <servlet-name>search</servlet-name>
    <url-pattern>/somongo/search</url-pattern>
  </servlet-mapping>
    
  <welcome-file-list>
    <welcome-file>SoMongo.html</welcome-file>
  </welcome-file-list>

</web-app>
